nav li{
  list-style-type: none;
  display: inline-block ;
}

nav li{
  margin: 0.5em;

}

nav a{
  font-size: 1.3em;
  color: grey;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover
{
  color: blue;
  background-color: grey;
  text-decoration-color: grey;
}

header{
  background: url('image/separation.jpeg')repeat-x bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 4em;
  /*padding: 10% 20% 20% 50%;  */
}

nav{
  padding: 0% 0% 0% 70%;
}

article{
  double surlignement;
}

h1{
  padding: 0% 0% 0% 30%;
  padding-right: 50%;
  margin-top: 5%;
}
ul{
  text-align: left;
  display: inline-block;
}

article{
  text-align: center;
  display: inline-block;
  background-color: grey;
}

p{
padding: 0% 20% 0% 40%;
margin-top: 2em;
display: inline-block;
}

ul{
  text-align: center;
width: auto;
border-left: 20%;
padding-bottom: 10%;
}
input{
  width: 600px;
margin-left: 30%;
}

/*li{
margin-bottom: 10%;
background="connexion/grey_de_fond.png">*/
}

nav a{
  margin-bottom: 2em;
  padding-top: 5%;
  padding: 2% 10% 10% 2%;

}

section{
  /*display: inline-block;
  background-color: grey;
  padding: 7% 7% 0% 0%;
  width: 1400px;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  text-decoration-color: grey;
  margin-left: 5px;
  text-align: center;*/

}

.connexion{
  color: #FFFFFF;
  background-color: #4169E1;
}

section li{
  padding-top: 5%;
}

.recherche li {
  display: inline-block;
  margin-right: 3em;
  background-color: grey;
}
.recherche {
  text-align: center;
}

footer{
  float: right;
}
footer li {
  display: inline-block;
  margin-right: 2em;
  background-color: grey;
}
